@use "sass:color";
@import "variables";
@import "styles/calendar";
@import "styles/menu";
@import "styles/music";
@import "styles/notification";
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  //border: solid 1px white;
  color: $fg;
}


