@use "sass:color";

$bg: #282828;
$bg1: #504945;
$bg2: #3c3836;
$fg: #ebdbb2;
$fg1: #a89984;
$highlight: #b8bb26;
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  //border: solid 1px white;
  //background-color: $bg;
  color: $fg;
}

.calendar {
    border: none;
    background-color: transparent;
}

.cal-box {
    border: solid 2px $fg;
    background-color: $bg;
    border-radius: 4px;
    padding: 10px 20px;
}

.clock {
    background-color: $bg1;
    border-radius: 10px;
    font-size: 30px;
}

.cal {
  font-weight: normal;
  background-color: $bg1;
  border-radius: 10px;

  .cal-in {
    padding: 0px 0px;

    .cal {
      &.highlight {
        padding: 20px;
      }

      padding: 2px 5px;
      //margin-left: 10px;

      border: none;
    }
  }
}

calendar:selected {
  color: $highlight;
  border: none;
  font-weight: bold;
}

calendar:indeterminate {
  color: $fg1;
  border: none;
}

.weather {
    background-color: $bg1;
    border-radius: 10px;
}

.weather-desc {
    font-size: 13px;
}

.weather-icon {
    font-size: 40px;
}

.main-panel {
  border: solid 2px $fg;
  border-radius: 4px;
  background-color: $bg;
  padding: 10px 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.power-buttons{
  background-color: $bg2;
  border-radius: 10px;
  padding: 5px 5px;
}

.shutdown{
  background-color: $bg1;
  border-radius: 10px;
  padding: 0px 0px;
  
}

.reboot{
  background-color: $bg1;
  border-radius: 10px;
  padding: 0px 0px;
  
}

.lock{
  background-color: $bg1;
  border-radius: 10px;
  padding: 0px 0px;
  
}

.suspend{
  background-color: $bg1;
  border-radius: 10px;
  padding: 0px 0px;
  
}

.exit{
  background-color: $bg1;
  border-radius: 10px;
  padding: 0px 0px;
  
}