// @use "sass:color";

// $bg: #1e1e2e;
// $text: #eba0ac;
// $text-dark: #9399b2;
// $purple: #cba6f7;
// $yellow: #fbecc9;

// * {
//   all: unset;
//   font-family: "JetBrainsMono Nerd Font";
//   //border: solid 1px white;
//   //background-color: #313244;
// }

// .cal {
//   background-color: $bg;
//   font-family: JetBrainsMono Nerd Font;
//   font-size: 18px;
//   font-weight: normal;
//   border-radius: 14px;

//   .cal-in {
//     padding: 0px 10px 0px 10px;
//     color: #bfc9db;

//     .cal {
//       &.highlight {
//         padding: 20px;
//       }

//       padding: 2px 2px 2px 2px;
//       //margin-left: 10px;

//       border: none;
//     }
//   }
// }

// calender {
//   color: $text-dark;
//   border: none;
// }

// calendar:selected {
//   color: $yellow;
//   border: none;
// }

// calendar.header {
//   color: $text;
//   font-weight: bold;
//   border: none;
// }

// calendar.button {
//   color: $text;
//   border: none;
// }

// calendar.highlight {
//   color: $yellow;
//   font-weight: bold;
//   border: none;
// }

// calendar:indeterminate {
//   color: $text-dark;
//   border: none;
// }

// .minha-box {
//   background-color: #08082e;
//   color: white;
//   border-radius: 10px;
//   padding: 10px;
// }

// .clock {
//   background-color: transparent;
//   color: $yellow;
//   border-radius: 10px;
//   padding: 10px;
//   font-size: 30px;
// }

// .weather-icon {
//   font-size:75px;
// }

// .weather-temp {
//   font-size:30px;
// }

// .weather-desc {
//   font-size:15px;
// }

// .main-panel {
//   border-radius: 20px;
//   background-color: #08082e;
// }

// .box {
//   background-color: $text-dark;
//   border-radius: 20px;
//   margin: 10px;
// }
