* {
    background:     #1f1f28;
    background-alt: #363646;
    foreground:     #dcd7ba;
    selected:       #dcd7ba;
    active:         #98bb6c;
    urgent:         #c34043;
}


window {
    border-radius: 0px;
}
