* {
    background:     #353535FF;
    background-alt: #282828FF;
    foreground:     #EBDBB2FF;
    selected:       #83A598FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}


window {
    border-radius: 0px;
}
