// Variáveis globais
$bg2: #1f1f28;
$bg: #16161d;
$bg1: #363646;
$fg: #dcd7ba;
$fg1: #727169;

$red: #c34043;
$orange: #ffa066;
$yellow: #e6c384;
$green: #98bb6c;
$blue: #7fb4ca;

$margin_clock: 2px;
$margin_menu: 2px 5px 0px 0px;
$border: 0px;