/* @import "/home/porpetenha/dotfiles/themes/tokyo-night-storm/waybar/tokyo.css" */
@import "/home/porpetenha/dotfiles/themes/gruvbox-dark/waybar/gruvbox.css";

@define-color background @bg;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-os_button {
    color: @blue;
    padding: 0 12px;
    margin-left: 5px;
}

#custom-notify {
    color: @yellow;
}

#clock {
    color: @green;
}

#workspaces {
}

#workspaces button.persistent {
    color: @orange;
}

#workspaces button.empty {
    color: @fg;
}

#workspaces button.active {
    color: @red;
}

#workspaces button.urgent {
    color: @red;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #222000;
    }
}

/* Hover effects */


#clock:hover,
#custom-notify:hover,
#custom-os_button:hover{
    
}

tooltip {
    color: @text;
    background-color: @surface0;
    text-shadow: none;
    border-radius: 5px;
    border: 2px solid @border;
}

