* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-os_button {
    color: @blue;
    padding: 0 6px;
    transition: all 0.2s;
}

#custom-notify {
    color: @yellow;
    padding: 0 6px;
    transition: all 0.2s;
}

#custom-music {
    color: @aqua;
    padding: 0 6px;
    transition: all 0.2s;
}

#clock {
    color: @green;
    padding: 0 6px;
    transition: all 0.2s;
}

#workspaces {
}

#workspaces button {
    transition: all 0.2s;
    padding: 0 5px;
    border-radius: 0px;
}

#workspaces button.persistent {
    color: @orange;
    border-radius: 0px;
}

#workspaces button.empty {
    color: @fg;
    border-radius: 0px;
}

#workspaces button.active {
    color: @red;
    border-radius: 0px;
}

#workspaces button.urgent {
    color: @red;
    border-radius: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Hover effects */

#custom-os_button:hover {
    color: @fg;
    background-color: @blue;
}

#custom-notify:hover {
    color: @fg;
    background-color: @yellow;
}

#custom-music:hover {
    color: @fg;
    background-color: @aqua;
}

#clock:hover {
    color: @fg;
    background-color: @green;
}

#workspaces button.persistent:hover {
    color: @fg;
    background-color: @orange;
    border-radius: 0px;
}

#workspaces button.empty:hover {
    color: @bg;
    background-color: @fg;
    border-radius: 0px;
}

#workspaces button.active:hover {
    color: @fg;
    background-color: @red;
    border-radius: 0px;
}

#workspaces button.urgent:hover {
    color: @bg;
    background-color: @red;
    border-radius: 0px;
}

@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #a89984;
@define-color orange #fe8019;
@define-color gray-dark #928374;
@define-color red-bright #fb4934;
@define-color green-bright #b8bb26;
@define-color yellow-bright #fabd2f;
@define-color blue-bright #83a598;
@define-color purple-bright #d3869b;
@define-color aqua-bright #8ec07c;
@define-color orange-dark #d65d0e;
@define-color bg #282828;
@define-color bg0-h #1d2021;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color bg0-s #32302f;
@define-color fg #ebdbb2;
@define-color fg4 #a89984;
@define-color fg3 #bdae93;
@define-color fg2 #d5c4a1;
@define-color fg1 #ebdbb2;
@define-color fg0 #fbf1c7;