@import "/home/porpetenha/dotfiles/themes/gruvbox-dark/waybar/gruvbox.css";
@define-color background @bg;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tray {
    color: @purple;
    padding: 0 6px;
    border-radius: 5px;
}

#custom-os_button {
    color: @blue;
    padding: 0 6px;
    margin-left: 5px;
    border-radius: 5px;
}

#custom-notify {
    color: @yellow;
    padding: 0 6px;
    border-radius: 5px;
}

#clock {
    color: @green;
    border-radius: 5px;
}

#workspaces {
}

#workspaces button.persistent {
    color: @orange;
}

#workspaces button.empty {
    color: @fg;
}

#workspaces button.active {
    color: @red;
}

#workspaces button.urgent {
    color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #222000;
    }
}

/* Hover effects */
#clock:hover {
    background-color: rgba(152, 151, 26, 0.3); /* @green com transparência */
    color: @green;
}

#custom-notify:hover {
    background-color: rgba(215, 153, 33, 0.3); /* @yellow com transparência */
    color: @yellow;
}

#custom-os_button:hover {
    background-color: rgba(69, 133, 136, 0.3); /* @blue com transparência */
    color: @blue;
}

#tray:hover {
    background-color: rgba(177, 98, 134, 0.3); /* @purple com transparência */
    color: @purple;
}

tooltip {
    color: @text;
    background-color: @surface0;
    text-shadow: none;
    border-radius: 5px;
    border: 2px solid @border;
}