// Variáveis globais
$bg: #24283b;
$bg1: #565f89;
$bg2: #414868;
$fg:  #c0caf5;
$fg1: #414868;

$red: #f7768e;
$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$blue: #7aa2f7;

$margin_clock: 1px;
$margin_menu: 1px 7px 0px 0px;
$border: 5px