@define-color background @base;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: red;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-os_button {
    background-color: @background;
    color: @blue;
    padding: 0 6px;
    border: 2px solid @blue;
    border-radius: 10px;
    margin-left: 5px;
    transition: box-shadow 0.3s ease; 
}

#custom-notify {
    background-color: @background;
    color: @yellow;
    padding: 0 6px;
    border: 2px solid @yellow;
    border-radius: 10px;
    margin-right: 5px;
    transition: box-shadow 0.3s ease;
}

#clock {
    background-color: @background;
    color: @green;
    padding: 0 6px;
    border: 2px solid @green;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

#memory {
    background-color: @background;
    color: @green;
    padding: 0 6px;
    border: 2px solid @green;
    border-radius: 10px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
}

#cpu {
    background-color: @background;
    color: @red;
    padding: 0 6px;
    border: 2px solid @red;
    border-radius: 10px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
}

#tray {
    background-color: @background;
    color: @orange;
    padding: 0 6px;
    border: 2px solid @orange;
    border-radius: 10px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
}

#workspaces {
    background-color: @background;
    padding: 0 6px;
    border: 2px solid @red;
    border-radius: 10px;
}

#workspaces button.persistent {
    color: @orange;
    padding: 0 5px;
}

#workspaces button.empty {
    color: @white;
    padding: 0 5px;
}

#workspaces button.active {
    color: @red;
    padding: 0 5px;
}

#workspaces button.urgent {
    color: @red;
    padding: 0 5px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #222000;
    }
}

/* Hover effects */


#clock:hover {
    box-shadow: inset 0 0 10px 2px rgba(158, 206, 106, 0.4);
}
#custom-notify:hover {
    box-shadow: inset 0 0 10px 2px rgba(224, 175, 104, 0.4);
}

#custom-os_button:hover {
    box-shadow: inset 0 0 10px 2px rgba(122, 162, 247, 0.4)
}

tooltip {
    color: @text;
    background-color: @surface0;
    text-shadow: none;
    border-radius: 5px;
    border: 2px solid @border;
}

@define-color red #f7768e;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color light-gray #cfc9c2;
@define-color green #9ece6a;
@define-color aqua #73daca;
@define-color cyan-light #b4f9f8;
@define-color cyan #2ac3de;
@define-color sky-blue #7dcfff;
@define-color blue #7aa2f7;
@define-color purple #bb9af7;
@define-color white #c0caf5;
@define-color gray #a9b1d6;
@define-color lavender-gray #9aa5ce;
@define-color dark-gray #565f89;

@define-color slate #414868;
@define-color base #24283b;
