@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #a89984;
@define-color orange #fe8019;
@define-color gray-dark #928374;
@define-color red-bright #fb4934;
@define-color green-bright #b8bb26;
@define-color yellow-bright #fabd2f;
@define-color blue-bright #83a598;
@define-color purple-bright #d3869b;
@define-color aqua-bright #8ec07c;
@define-color orange-dark #d65d0e;

@define-color fg #ebdbb2;

@define-color bg #282828;
@define-color bg0-h #1d2021;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;


@define-color bg0-s #32302f;

@define-color fg4 #a89984;
@define-color fg3 #bdae93;
@define-color fg2 #d5c4a1;
@define-color fg1 #ebdbb2;
@define-color fg0 #fbf1c7;


