// Variáveis globais
$bg: #282828;
$bg1: #504945;
$bg2: #3c3836;
$fg: #ebdbb2;
$fg1: #a89984;

$red: #cc241d;
$orange: #fe8019;
$yellow: #d79921;
$green: #98971a;
$blue: #458588;

$margin_clock: 5px;
$margin_menu: 5px 5px 0px 0px;
$border: 0px;